@media screen and (min-width:768px) {
  .about-emp {
    min-height:290px;
  }
  .top-header h1 {
    padding-top:10.2%;
    color:#f00;
  }
  .date-sel select {
    width:32.8%;
  }
  .section-btn {
    margin-left: 1.44%;
  }
  .batch-students img{
    width:95%;
    height:280px;
  }
}
@media screen and (max-width:767px) {
  .about-emp {
    min-height:250px;
  }
  .department-items {
    margin-bottom:10px;
  }
  .top-header h1 {
    padding-top:12.5%;
    color:#009688;
  }
  .nav-custom .navbar-brand {
    font-size: 25px;
    padding-top: 19px;
    font-weight: 700;
  }
  .top-header {
    height:150px;
  }
  .date-sel select {
    width:32.2%;
  }
  .section-btn {
    margin-left: 4.6%;
  }
  .batch-students img{
    width:100%;
    height:300px;
  }
  .owl-carousel {
    position: relative;
  }
  .owl-prev,.owl-next {
    position: absolute;
    height:50px;
    width:50px;
    background-color: none;
    top: 43%;
    margin-top: -10px; // Half of the prev/next buttons height here in negatives to center them perfectly
  }
  .owl-prev {
    left: 0;
  }
  .owl-next {
    right: 0;
  }
  .owl-prev .fa,.owl-next .fa {
    font-size: 30px;
    font-weight: normal;
    padding-top: 8px;
  }
  .owl-prev .fa {
    padding-right:5px;
  }
  .owl-next .fa {
    padding-left:5px;
  }
}
.search_form {
  padding-top:20px;
  padding-bottom:20px;
}
.department-items img {
  height:250px;
  width:100%;
  border: 1px solid #009688;
}
.item-heading {
  width:100%;
  height:60px;
  background-color: #009688;
  color:#fff;
  margin-top:-6%;
}
.item-heading h3 {
  padding-top:4.5%;
}
.back-link img{
  width:120px;
  height:35px;
}
.btm-sec {
  margin-top: 5%;
  width:125px;
}
.dept-item-link {
  text-decoration: none;
}
.dept-emp {
  height:50px;
  width:50px;
  border-radius: 50%;
  border:1px solid #009688;
}
.dept-emp-table > tr > td {
  padding:3px !important;
  vertical-align:middle !important;
  text-align:center;
}
.dept-emp-table > tr > th {
  text-align:center;
}
.top-header {
  margin-top:-20px;
  margin-bottom: -10px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337aa7;
}
.nav-custom {
  background-color: #00bff0;
}
.nav-custom .navbar-brand, .nav-custom .navbar-brand:hover {
  color:#fff;
}
.nav-custom .navbar-nav > li > a, .nav-custom .navbar-nav > li > a:hover {
  color: #fff;
}
.nav-custom .navbar-nav > .active > a, .nav-custom .navbar-nav > .active > a:hover, .nav-custom .navbar-nav > .active > a:focus {
  background-color: #00bff0;
  color: #fff;
}
.nav-custom .navbar-toggle {
  border:none;
}
.nav-custom .navbar-toggle:hover, .nav-custom .navbar-toggle:focus {
  background-color: #00bff0;
}
.nav-custom .navbar-toggle .icon-bar {
  background-color: #fff;
}
.nav-custom .navbar-toggle .icon-bar {
  height: 5px;
  width: 40px;
}
.btn-custom {
  background-color: #008B8B;
  color:#fff;
}
.btn-custom:hover {
  color:#fff;
}

.btn-add-new, .btn-add-new:focus, .btn-add-new:hover {
  background-color: blue;
  border-color: #2e6da4;
  color: #fff;
}