@media screen and (min-width:768px) {
  .about-emp {
    min-height:290px;
  }
}

@media screen and (max-width:767px) {
  .about-emp {
    min-height:250px;
  }
}
.search_form {
  padding-top:20px;
  padding-bottom:20px;
}